<div class="panel panel-default beer">
  <div class="panel-heading">
    <h3 class="panel-title name">{{name}}</h3>
  </div>
  <div class="panel-body">
    <div class="image"><img src="{{image}}"></div>
    <div class="description">
      <h5>Description: <small>{{description}}</small></h5>
    </div>
    <div class="abv"><h5>ABV: <small>{{abv}}%</small></h5></div>
    <div class="type"><h5>Type: <small>{{type}}</small></h5></div>
  </div>
</div>
